@mixin pblLink {
	color: $color_white;

	&:hover {
		color: $color_42;
	}
}

body[data-theme='photobooth-lite'] {
	font-family: $fontGotham;
	background-color: $color_white;
	color: $color_7;
	position: relative;

	.btn-cta {
		@include pblButton();
		color: $color_white;
		border-color: $color_42;

		&:hover {
			color: $color_white;
			border-color: darken($color_42, 10%);
		}
	}

	hr {
		border-color: rgba($color_white, 0.3);
		background-color: rgba($color_white, 0.3);
	}

	input[type='text']:focus,
	input[type='email']:focus,
	input[type='phone']:focus,
	input[type='search']:focus,
	textarea:focus {
		border: 1px solid $color_42;
	}
}
