@import './responsive.scss';

@mixin noList {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

@mixin clearfix() {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}
