@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/grid';

$font_site-default: 'Courier 10 Pitch', Courier, monospace;

$assetPath: '..';

$color_site-default: #000;
$color_white: #FFF;
$color_black: #000;

$size_site-main: 100%;
$size_site-sidebar: 25%;

$white_border: rgba($color_white, 0.2);

$bg_grey: #F2F2F2;

$color_0: #F8F8F8;
$color_1: #B3B3B3;
$color_2: #333;
$color_3: #575756;
$color_4: #4D4D4D;
$color_5: #F15A24; // cta color
$color_6: #EBEBEB;
$color_7: #999;
$color_8: #666;
$color_9: #CCC;
$color_10: #EA124F;
$color_11: #F1F1F1;
$color_12: #E6E6E6;
$color_13: #808080;
$color_14: #1A1A1A;
$color_15: #C5C5C5;
$color_16: #024B66; // blue
$color_17: #065B71;
$color_18: #29A6DE;
$color_19: #1D437B;
$color_20: #4B709D;
$color_21: #E1E1E1;
$color_22: #949494;
$color_23: #C7C7C7;
$color_24: #AEAEAE;
$color_25: rgb(8, 62, 86);
$color_26: #E6E6E6;
$color_27: #F7F7F7;
$color_28: #A7E0EA;
$color_29: #3B3A37;
$color_30: #B77A60;
$color_31: #D25D28;
$color_32: #B79B94;
$color_33: #2A5670;
$color_34: #B37A60;
$color_35: #EB5924;
$color_36: rgb(157, 157, 156);
$color_37: rgb(60, 60, 59);
$color_38: #C6C6C6;
$color_39: rgb(135, 135, 135);
$color_40: rgb(178, 178, 178);
$color_41: #3B3B3B;
$color_42: #ED1E79;
$color_43: #061C6E;
$color_44: #071C6F;
$color_45: #61BBF9;
$color_46: #1D1D1B;
$color_47: #FFA13F;
$color_48: #E94E1B;
$color_49: #B07963;
$color_50: #C36;
$color_51: #2F103A;

$fontGotham: 'Gotham';
$fontUltra: 'Gotham Ultra';
$fontBook: 'Gotham Book';
$fontNexa: 'NexaRustScript';
$fontLust: 'Lust';
$fontStone: 'STONEHARBOUR';
$fontRoboto: 'Roboto';

$main_nav_height: 70px;
$landing_nav_height: 62px;
$social_nav_height: 25px;
$footer_height: 160px;
$copy_height: 55px;
$link_height: 14px;

$featured_home_width: 380px;
$featured_home_height: 385px;
$featured_home_header_height: 155px;

$benefit_height: 250px;
$benefit_width: 580px;
$benefit_image_height: $benefit_height;
$benefit_image_width: $benefit_height;

$logo_height: 37px;
$logo_width: 186px;

$trans_time: 0.3s;

$break_point: $screen-lg-min;

$sm_container_width: 716px;
$excerpt_width: $sm_container_width;
$avatar_size: 56px;

$related_post_height: 209px;
$related_post_width: 275px;
