@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.banner {
	@include brandGradient();
	padding: 30px 0;
}

.bannerInner {
	padding: 0 15px;

	h1 {
		color: $color_white;
		font-family: $fontUltra;
		font-size: 36px;
		line-height: 1.427;
		margin: 0;
		text-align: center;

		@include mediumAndUp {
			font-size: 63px;
		}
	}
}

.formContainer {
	max-width: 711px;
	margin: 0 auto;
}

.header {
	padding: 30px 0;
}

.headerInfo {
	@include noList();
	display: table;
	width: 100%;

	li {
		line-height: 15px;
		display: table-cell;
		vertical-align: middle;

		@include mediumAndUp {
			line-height: 30px;
			width: 50%;
		}

		&:first-child {
			border-right: 1px solid $color_7;
			text-align: center;

			@include mediumAndUp {
				padding-right: 20px;
				text-align: right;
			}
		}

		&:last-child {
			text-align: center;

			@include mediumAndUp {
				padding-left: 20px;
				text-align: left;
			}
		}

		span {
			color: $color_50;
			display: none;
			margin-right: 10px;

			@include mediumAndUp {
				display: inline-block;
				font-size: 20px;
			}

			@include largeAndUp {
				font-size: 26px;
			}
		}

		p {
			color: $color_2;
			display: inline-block;
			font-size: 16px;
			font-family: proxima_novaextrabold;
			margin: 0;
			text-transform: lowercase;

			@include mediumAndUp {
				font-size: 24px;
			}

			@include largeAndUp {
				font-size: 30px;
			}
		}
	}
}

.seperator {
	height: 1px;
	position: relative;

	&::before,
	&::after {
		content: ' ';
		position: absolute;
		height: 1px;
		top: 0;
	}

	&::before {
		background-color: #E6E6E6;
		left: 0;
		width: 100%;
	}

	&::after {
		background-color: #C82B5E;
		left: 50%;
		margin-left: -31px;
		width: 62px;
	}
}

.form {
	padding: 30px 0 60px;
}

.formImage {
	margin-bottom: 30px;
	text-align: center;
}

.locations {
	@include noList();
	@include clearfix();

	display: block;
}

.location {
	height: 300px;
	width: 100%;

	@include mediumAndUp {
		float: left;
		height: 600px;
		width: calc(100% / 3);
	}
}
