@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.form {
	ul {
		@include noList;
		@include clearfix;

		li {
			float: left;

			h3 {
				margin-bottom: 0;
			}
		}
	}
}

.full {
	width: 100%;
}

.half {
	width: 100%;

	@include mediumAndUp {
		width: 50%;
	}
}

.third {
	width: 100%;

	@include mediumAndUp {
		width: calc(100% / 3);
	}
}

.hidden-label {
	label {
		display: none;
	}
}

.hidden {
	display: none;
	float: none;
}

.inputGroup {
	display: block;
}

.submit {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.error {
	color: $color_10;
	display: block;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
}

.confirmation {
	margin-bottom: 10px;

	> a {
		display: none;
	}
}

.optionGroup {
	li {
		margin-bottom: 0;
	}

	input {
		margin-right: 10px;
	}
}

.contact {
	input[type='text'],
	input[type='email'],
	input[type='password'],
	textarea {
		background-color: #F1F1F1;
		border: 1px solid transparent;
		color: #4D4D4D;
		font-family: $fontGotham;
		font-weight: 500;
		font-size: 14px;

		&:focus {
			border-color: $color_50;
		}
	}

	button[type='submit'] {
		background-color: $color_50;
		border-color: $color_50;
		color: $color_white;
		font-family: $fontGotham;
		font-size: 16px;
		font-weight: 500;
		height: 54px;
		letter-spacing: 0;
		padding: 0 15px;
		width: 100%;

		&:hover {
			background-color: $color_50;
			border-color: $color_50;
			color: $color_white;
		}

		svg {
			fill: $color_white !important;
		}
	}

	.loader {
		svg {
			fill: $color_50 !important;
		}
	}
}

:global {
	.react-datepicker-wrapper {
		display: block;
	}

	.react-datepicker__input-container {
		display: block;
	}
}
