@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.wrap {
	padding: 0 0 60px;
}

.content {
	@include brandGradient();
	padding: 30px 15px;
}

.text {
	h1 {
		color: $color_white;
		font-family: $fontUltra;
		font-size: 36px;
		line-height: 1.127;
		margin: 0;
		text-align: center;

		@include mediumAndUp {
			font-size: 63px;
		}
	}

	h5 {
		color: $color_white;
		font-family: $fontGotham;
		margin: 0;
	}
}

.form {
	max-width: 960px;
	margin: 0 auto;
}
