@import '../utils/mixins.scss';
@import '../helpers/variables.scss';

.form {
	ul {
		@include noList;
		@include clearfix;

		li {
			float: left;

			h3 {
				margin-bottom: 0;
			}
		}
	}
}

.full {
	width: 100%;
}

.half {
	width: 100%;

	@include mediumAndUp {
		width: 50%;
	}
}

.third {
	width: 100%;

	@include mediumAndUp {
		width: calc(100% / 3);
	}
}

.hidden-label {
	label {
		display: none;
	}
}

.hidden {
	display: none;
	float: none;
}

.inputGroup {
	display: block;
}

.submit {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.error {
	color: $color_10;
	display: block;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
}

.confirmation {
	margin-bottom: 10px;

	> a {
		display: none;
	}
}

.optionGroup {
	li {
		margin-bottom: 0;
	}

	input {
		margin-right: 10px;
	}
}

:global {
	.react-datepicker-wrapper {
		display: block;
	}

	.react-datepicker__input-container {
		display: block;
	}
}
