@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.wrap {
	height: 100%;
	position: relative;
	width: 100%;
}

.image {
	@include absoluteFull();
	display: block;
	opacity: 0;
	transition: opacity 1s ease-in-out, visibility 0s 1s ease-in-out;
	visibility: hidden;
}

.active {
	opacity: 1;
	transition: all 1s ease-in-out;
	visibility: visible;
}
