@import '../helpers/variables.scss';
@import '../helpers/mixins.scss';
@import '../utils/mixins.scss';

.grid {
}

.list {
	@include noList();
	white-space: nowrap;
}

.item {
	display: inline-block;
	max-width: 100%;

	img {
		height: auto;
		width: 100%;
	}
}

.buttons {
	display: none;
	margin-bottom: 15px;
	text-align: center;

	@include mediumAndUp {
		display: block;
	}
}
