@import '../utils/mixins.scss';
@import '../utils/mixins.scss';

.wrap {
	@include mediumAndUp {
		max-width: 90%;
		margin: 0 auto;
	}

	@include largeAndUp {
		max-width: 66%;
	}
}

.title {
	font-weight: 100;
	margin: 15px 0 30px;
	text-align: center;
}

.content {
	h1 {
		@extend .title;
	}
}

.featuredImage {
	cursor: pointer;
	margin-bottom: 20px;
	max-width: 510px;
	padding: 0 10px;
}

.gallery {
	max-width: 510px;

	ul {
		@include noList();
		@include clearfix();

		li {
			cursor: pointer;
			float: left;
			margin: 0 0 20px;
			padding: 0 10px;
			width: 50%;
		}
	}
}

.form {
	background-image: url('../../images/brickwall.png');
	background-size: 110px 69px;
	@include image-2x('../..//images/brickwall@2x.png', 110px, 69px);
	background-repeat: repeat;
	padding: 60px 0;

	h1 {
		@extend .title;
	}
}
