@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.logo {
	display: block;
	max-width: 100%;

	> svg {
		display: block;
		max-width: 100%;
	}

	.st0,
	.st1,
	.st2,
	.st3,
	.st4 {
		transition: all 0.3s ease-in-out;
	}
}

.logoDefault {
	.st0,
	.st1,
	.st3 {
		fill: $color_35;
	}

	.st2,
	.st4 {
		fill: $color_33;
	}
}

[data-theme='default'] {
	.header {
		.st0,
		.st1,
		.st3 {
			fill: $color_35;
		}

		.st2,
		.st4 {
			fill: $color_33;
		}
	}

	.footer {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: hsla(0, 0%, 97%, 0.4);
		}
	}
}

[data-theme='photobooth-pro'] {
	.header {
		.st0,
		.st1,
		.st3 {
			fill: $color_48;
		}

		.st2,
		.st4 {
			fill: $color_33;
		}
	}

	.footer {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: #BBBBBA;
		}
	}
}

[data-theme='photobooth-lite'] {
	.header,
	.footer {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: white;
		}
	}
}

[data-theme='array13'] {
	.header {
		.st0,
		.st1,
		.st3 {
			fill: $color_49;
		}

		.st2,
		.st4 {
			fill: white;
		}
	}

	.footer {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: #BBBBBA;
		}
	}
}

[data-theme='home'] {
	.header {
		.st0,
		.st1,
		.st3 {
			fill: white;
		}

		.st2,
		.st4 {
			fill: white;
		}
	}

	.footer {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: #D5CFD7;
		}
	}
}

[data-theme='contact'] {
	.header {
		.st0,
		.st1,
		.st3 {
			fill: $color_35;
		}

		.st2,
		.st4 {
			fill: $color_33;
		}
	}

	.footer {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: #D5CFD7;
		}
	}
}

.logo {
	&.landingFooter {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: #BBBBBA;
		}
	}
}

.landingHeader--pbl {
	&--dark {
		.st0,
		.st1,
		.st2,
		.st3,
		.st4 {
			fill: white;
		}
	}

	&--light {
		@extend .logoDefault;
	}
}

.landingHeader--a13 {
	&--dark,
	&--light {
		.st0,
		.st1,
		.st3 {
			fill: $color_49;
		}

		.st2,
		.st4 {
			fill: #1D1D1B;
		}
	}
}

.landingHeader--htp {
	&--dark,
	&--light {
		@extend .logoDefault;
	}
}
