@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.menu {
	@include noList();
	display: flex;
	flex-direction: column;

	li {
		display: block;
	}

	@include largeAndUp {
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}
}

.menuHeader {
	@include largeAndUp {
		justify-content: flex-end;
	}

	.link {
		font-family: $fontGotham;
		font-weight: 500;
		font-size: 18px;

		@include largeAndUp {
			font-size: 14px;
		}
	}

	.cta {
		font-family: $fontGotham;
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
	}
}

.menuFooter {
	.link {
		font-weight: 700;
		padding: 4px 0;

		@include largeAndUp {
			padding: 0 30px;
		}
	}
}

.link {
	display: block;
	font-family: $fontGotham;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	padding: 5px 0;
	white-space: nowrap;

	@include largeAndUp {
		padding: 2.5px 4px;
	}

	@media screen and (min-width: 1115px) {
		padding: 2.5px 15px;
	}
}

.linkBordered {
	@include largeAndUp {
		border-right: 1px solid transparent;
	}
}

.ctaWrap {
	display: inherit;

	@include largeAndUp {
		display: block;
		margin-left: 7.5px;
	}
}

.cta {
	border-radius: 4px;
	display: inline-block;
	font-family: $fontGotham;
	font-weight: 500;
	font-size: 17px;
	line-height: 1;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: all 0.3s ease-in-out;
	white-space: nowrap;
	text-transform: uppercase;

	@include largeAndUp {
		display: block;
		font-size: 13px;
	}
}

.dropdownWrap {
	position: relative;

	&:hover {
		.dropdown {
			@include largeAndUp {
				opacity: 1;
				transform: translateX(-50%) scale(1);
			}
		}
	}
}

.dropdown {
	margin: -5px 0 0 10px;
	transition: none;

	li {
		display: block;

		&:not(:last-child) {
			a {
				@include largeAndUp {
					border-right: 1px solid transparent;
				}
			}
		}
	}

	@include largeAndUp {
		padding-top: 10px;
		position: absolute;
		top: 100%;
		z-index: 1;
		left: 50%;
		margin: 0;
		opacity: 0;
		transform: translateX(-50%) scale(0.9);
		transition: all 0.15s ease-in-out;
	}
}

.dropdownInner {
	@include noList();

	@include largeAndUp {
		border: 1px solid transparent;
		display: flex;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	}
}

.dropdownLink {
	font-size: 15px;
	text-transform: uppercase;
	line-height: 1.2;
	transition: all 0.3s ease-in-out;

	@include largeAndUp {
		padding: 13px 29px;
		font-size: 13px;
		font-weight: 700;
	}
}

.menu[data-theme='default'],
.menu[data-theme='photobooth-pro'] {
	.link {
		&:hover {
			color: $color_5;
		}
	}

	.dropdownInner {
		border-color: rgba(0, 0, 0, 0.15);

		li {
			&:not(:last-child) {
				a {
					border-right-color: #EBEBEB;
				}
			}
		}
	}

	.dropdownLink {
		color: #1A1A1A;

		@include largeAndUp {
			background-color: white;

			&:hover {
				color: white;
				background-color: $color_5;
			}
		}
	}

	&.menuHeader {
		.link {
			color: $color_46;

			&:hover {
				color: $color_5;
			}
		}

		.linkBordered {
			border-color: $color_6;
		}

		.cta {
			color: $color_4;
			background-color: transparent;
			border-color: $color_4;
		}
	}

	&.menuFooter {
		.link {
			color: $color_12;
			font-weight: 700;

			&:hover {
				color: $color_5;
			}
		}

		.linkBordered {
			border-right-color: $color_8;
		}

		.dropdownLink {
			color: white;

			@include largeAndUp {
				color: #1A1A1A;
			}
		}
	}
}

.menu[data-theme='photobooth-lite'] {
	.link {
		&:hover {
			color: $color_42;
		}
	}

	&.menuHeader {
		.link {
			color: white;

			&:hover {
				color: $color_42;
			}
		}

		.linkBordered {
			border-right-color: transparent;
		}

		.cta {
			color: white;
			border-color: $color_42;
			background-color: $color_42;
		}
	}

	&.menuFooter {
		.link {
			color: $color_12;

			&:hover {
				color: $color_42;
			}
		}

		.linkBordered {
			border-right-color: hsla(0, 0%, 100%, 0.2);
		}
	}

	.dropdownInner {
		border-color: rgba(0, 0, 0, 0.15);

		li {
			&:not(:last-child) {
				a {
					border-right-color: #EBEBEB;
				}
			}
		}
	}

	.dropdownLink {
		color: white;

		@include largeAndUp {
			background-color: white;
			color: $color_43;

			&:hover {
				color: white;
				background-color: $color_42;
			}
		}
	}
}

[data-theme='array13'] {
	.menuHeader,
	.menuFooter {
		.link {
			color: white;

			&:hover {
				color: $color_49;
			}
		}

		.cta {
			color: white;
			border-color: $color_49;
			background-color: $color_49;
		}
	}

	.menuFooter {
		color: white;

		&:hover {
			color: $color_49;
		}
	}

	.dropdownLink {
		color: white;

		@include largeAndUp {
			background-color: white;
			color: $color_46;

			&:hover {
				color: white;
				background-color: $color_49;
			}
		}
	}
}

[data-theme='home'] {
	.menuHeader,
	.menuFooter {
		.link {
			color: white;

			&:hover {
				color: $color_50;
			}
		}

		.cta {
			color: white;
			border-color: $color_50;
			background-color: $color_50;
		}
	}

	.menuFooter {
		color: white;

		&:hover {
			color: $color_50;
		}
	}

	.dropdownLink {
		color: white;

		@include largeAndUp {
			background-color: white;
			color: $color_46;

			&:hover {
				color: white;
				background-color: $color_50;
			}
		}
	}
}
