@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.hero {
	h1 {
		color: $color_white;
		font-family: $fontUltra;
		line-height: 1.164;
		max-width: 95%;
		margin: 0 auto;
		font-size: 53px;

		@include largeAndUp {
			font-size: 86px;
			line-height: 1.164;
			max-width: 1040px;
		}

		&:last-child {
			margin: 0 auto 35px;

			@include largeAndUp {
				margin-bottom: 70px;
			}
		}
	}
}

.section {
	padding: 40px 0;

	@include largeAndUp {
		padding: 80px 0;
	}
}

.sectionCta {
	@include pbpGradient;
	@extend .section;

	@include largeAndUp {
		padding: 40px 0;
	}
}

.sectionCtaInner {
	text-align: center;

	> a {
		max-width: 100%;
		width: 286;
	}
}

.bonusesSection {
	@extend .section;
}

.bonusesHeader {
	margin-bottom: 40px;
	text-align: center;

	@include largeAndUp {
		margin-bottom: 80px;
	}

	h2 {
		color: $color_46;
		font-family: $fontUltra;
		font-size: 40px;
		line-height: 1.13;
		margin: 0 0 15px;
		text-transform: uppercase;

		@include mediumAndUp {
			font-size: 60px;
			line-height: 1.23;
			margin: 0 0 30px;
		}

		@include largeAndUp {
			font-size: 70px;
		}
	}

	h4 {
		color: $color_48;
		font-family: $fontGotham;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.147;
		margin: 0 0 15px;

		@include mediumAndUp {
			margin: 0 0 30px;
		}
	}

	h6 {
		color: $color_7;
		font-family: $fontBook;
		font-size: 18px;
		line-height: 1.5;
	}
}

.promisesSection {
	@extend .section;
}

.promisesHeader {
	margin-bottom: 40px;
	text-align: center;

	@include largeAndUp {
		margin-bottom: 80px;
	}

	h2 {
		color: $color_48;
		font-family: $fontGotham;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.333;
		margin: 0 0 15px;

		@include mediumAndUp {
			margin: 0 0 30px;
		}
	}

	h4 {
		color: $color_46;
		font-family: $fontUltra;
		font-size: 40px;
		line-height: 1.13;
		margin: 0;
		text-transform: uppercase;

		@include mediumAndUp {
			font-size: 47px;
			line-height: 1.23;
		}
	}
}
