@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.sectionGallery {
	padding: 40px 0;

	@include largeAndUp {
		padding: 80px 0;
	}
}

.galleryItem {
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.a13Section {
	background-color: $color_46;
}

.landingSection {
	padding: 0;

	@include largeAndUp {
		padding: 0;
	}
}

.experienceGallery {
	padding: 0;
	position: relative;

	@include largeAndUp {
		overflow: visible;
	}

	.link {
		cursor: pointer;
		background-image: url('../../images/show-more-experience.png');
		background-size: 20px 88px;
		background-repeat: no-repeat;
		@include image-2x('../../images/show-more-experience@2x.png', 20px, 88px);
		height: 88px;
		width: 20px;
		display: block;
		bottom: 0;
		margin-left: 15px;
		z-index: 1;

		a {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}
