@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.sectionGallery {
	padding: 40px 0;

	@include largeAndUp {
		padding: 80px 0;
	}
}

.galleryItem {
	cursor: pointer;
	height: 100%;
	padding: 7.5px;
	width: 100%;
}

.a13Section {
	background-color: $color_46;
}
