@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.sectionGallery {
	padding: 40px 0;

	@include largeAndUp {
		padding: 80px 0;
	}
}

.galleryItem {
	cursor: pointer;
	padding: 7.5px;
}

.a13Section {
	background-color: $color_46;
}
