@import '../helpers/variables.scss';
@import '../helpers/mixins.scss';
@import '../utils/mixins.scss';

.section {
	padding: 40px 0;

	@include largeAndUp {
		padding: 80px 0;
	}
}

.inner {
	white-space: nowrap;

	> div {
		white-space: normal;
	}
}

.title {
	display: inline-block;
	position: relative;

	h1 {
		font-family: $fontUltra;
		white-space: nowrap;
		font-size: 30px;
		padding-right: 40px;

		@media (min-width: 370px) {
			padding-right: 50px;
			font-size: 45px;
		}

		@include largeAndUp {
			font-size: 85px;
			padding-right: 56px;
		}
	}

	span {
		font-family: $fontGotham;
		font-size: 21px;
		font-weight: bold;
		position: absolute;
		right: 0;
		bottom: 21px;

		@media (min-width: 370px) {
			font-size: 26px;
			bottom: 42px;
		}

		@include largeAndUp {
			font-size: 32px;
			bottom: 75px;
		}
	}
}

.image {
	display: none;
	width: 192px;
	margin-right: 100px;

	@include largeAndUp {
		display: inline-block;
	}
}

.content {
	display: block;

	@include largeAndUp {
		display: inline-block;
		vertical-align: top;
		width: calc(100% - 292px);
	}
}

.slider {
	max-width: 785px;
}

.carouselWrap {
	white-space: nowrap;

	> div {
		white-space: normal;
	}
}

.carouselInner {
	display: block;

	@media (min-width: $screen-xs-max) {
		padding-right: 5%;
		display: inline-block;
		width: calc(100% - 86px);
	}
}

.carouselPagination {
	@include noList();
}

.page {
	display: inline-block;
	margin-right: 7.5px;

	&:last-child {
		margin-right: 0;
	}

	span {
		height: 10px;
		width: 10px;
		border-radius: 50%;
		display: block;
		cursor: pointer;
	}
}

.activePage {
	@extend .page;
}

.carouselBullets {
	padding: 10px 25px;
	display: none;
	vertical-align: top;
	margin-top: 30px;
	width: 86px;

	@media (min-width: $screen-xs-max) {
		display: inline-block;
	}

	ul {
		@include noList();
	}
}

.bullet {
	&:not(:last-child) {
		margin-bottom: 5px;
	}

	span {
		display: block;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		font-weight: 500;
		font-size: 13px;
		line-height: 36px;
		text-align: center;
		cursor: pointer;
	}
}

.activeBullet {
	@extend .bullet;
}

.carouselSlide {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $fontGotham;
		font-weight: 500;
		font-size: 30px;
		margin-bottom: 20px;
	}

	p {
		font-family: $fontGotham;
		font-size: 18px;
		font-weight: 300;
	}
}

.socialSharing {
	$sharingWidth: 506px;
	$socialBreakpoint: 536px;

	border-radius: 4px;
	max-width: 506px;
	padding: 10px 12px;

	ul {
		@include noList();

		li {
			display: inline-block;
			vertical-align: middle;
			width: 45px;
			height: 45px;
			text-align: center;
			margin-right: 15px;
			border-radius: 4px;
			margin-bottom: 15px;

			@media (min-width: $socialBreakpoint) {
				margin-bottom: 0;
			}

			span {
				vertical-align: middle;
				line-height: 45px;
				transition: transform 0.2s ease-in-out;
				transform: scale(1);
			}

			&:hover {
				span {
					transform: scale(1.2);
				}
			}
		}

		li:last-child {
			height: 36px;
			text-align: left;
			max-width: 135px;
			display: block;
			width: 135px;
			margin-right: auto;
			margin-bottom: 0;

			@media (min-width: $socialBreakpoint) {
				display: inline-block;
				margin-left: 30px;
				margin-top: 0;
			}
		}
	}

	h5 {
		font-size: 15px;
		line-height: 18px;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0;
	}
}

.pblSection {
	.title {
		h1 {
			color: $color_44;
		}

		span {
			color: $color_42;
		}
	}

	.page {
		span {
			background-color: lighten($color_7, 20%);
		}
	}

	.activePage {
		span {
			background-color: $color_42;
		}
	}

	.carouselSlide {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $color_42;
		}
	}

	.carouselBullets {
		border-left: 1px solid lighten($color_7, 20%);
	}

	.bullet {
		span {
			color: $color_7;
		}
	}

	.activeBullet {
		span {
			color: $color_white;
			background-color: $color_42;
		}
	}

	.socialSharing {
		@include pblGradient;

		ul {
			li {
				background-color: $color_white;

				span {
					color: $color_44;
				}
			}

			li:last-child {
				background-color: transparent;
			}
		}

		h5 {
			color: $color_white;
		}
	}
}

.pbpSection {
	.title {
		h1 {
			color: $color_46;
		}

		span {
			color: $color_48;
		}
	}

	.carouselSlide {
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: $color_5;
		}

		p {
			color: $color_7;
		}
	}

	.page {
		span {
			background-color: $color_12;
		}
	}

	.activePage {
		span {
			background-color: $color_48;
		}
	}

	.carouselBullets {
		border-left: 1px solid $color_7;
	}

	.bullet {
		span {
			color: $color_7;
		}
	}

	.activeBullet {
		span {
			color: $color_white;
			background-color: $color_48;
		}
	}

	.socialSharing {
		background-color: #ECECEC;

		ul {
			li {
				background-color: $color_white;

				span {
					color: $color_48;
				}
			}

			li:last-child {
				background-color: transparent;
			}
		}

		h5 {
			color: $color_7;
		}
	}
}
